In [111]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve

In [5]:
data_clf = pd.read_csv('classification.csv')
data_clf

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [18]:
for i in data_clf.items():
    print(i)

('true', 0      1
1      1
2      1
3      0
4      1
      ..
195    0
196    0
197    1
198    0
199    0
Name: true, Length: 200, dtype: int64)
('pred', 0      0
1      1
2      1
3      0
4      1
      ..
195    0
196    0
197    0
198    1
199    0
Name: pred, Length: 200, dtype: int64)

In [23]:
print(data_clf['true'].value_counts())
data_clf['pred'].value_counts()

1    102
0     98
Name: true, dtype: int64

0    123
1     77
Name: pred, dtype: int64

In [60]:
TruePositive = [
    (data_clf['pred']==1) &
    (data_clf['true']==1) &
    (data_clf['pred']==data_clf['true'])
]
TruePositive = np.where(conditions, 1, 0)
TruePositive

array([[0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0]])

In [61]:
dct = {}
def analysis(lst):
    for i in lst:
        if i in dct:
            dct[i] += 1
        else:
            dct[i] = 1
    return dct
analysis(TruePositive[0])

{0: 157, 1: 43}

In [72]:
FP_count = 0
for i in range(len(data_clf)):
    if data_clf['true'][i] == 0 and data_clf['pred'][i] == 1:
        FP_count += 1
FP_count

34

In [73]:
FN_count = 0
for i in range(len(data_clf)):
    if data_clf['true'][i] == 1 and data_clf['pred'][i] == 0:
        FN_count +=1
FN_count

59

In [75]:
TN_count = 0
for i in range(len(data_clf)):
    if data_clf['true'][i] == 0 and data_clf['pred'][i] == 0:
        TN_count +=1
TN_count

64

In [93]:
##-- Доля верно угаданных
y_true = data_clf['true']
y_score = data_clf['pred']
accuracy = accuracy_score(y_true, y_score)
accuracy

0.535

In [96]:
##-- Точность
precision = precision_score(y_true, y_score)
precision

0.5584415584415584

In [98]:
##-- Полнота
recall = recall_score(y_true, y_score)
recall

0.4215686274509804

In [101]:
##-- F-мера
F_mera = f1_score(y_true, y_score)
F_mera

0.48044692737430167

In [102]:
data_scores = pd.read_csv('scores.csv')
data_scores

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [109]:
##-- Логистическая регрессия
##-- Метод опорных векторов
##-- Метрический алгоритм
##-- Метод решающего дерева
y_true_score = data_scores['true']
print("Логистическая регрессия : " + str(roc_auc_score(y_true_score, data_scores['score_logreg'])))
print("Метод опорных векторов : " + str(roc_auc_score(y_true_score, data_scores['score_svm'])))
print("Метрический алгоритм : " + str(roc_auc_score(y_true_score, data_scores['score_knn'])))
print("Метод решающего дерева : " + str(roc_auc_score(y_true_score, data_scores['score_tree'])))

Логистическая регрессия : 0.719187675070028
Метод опорных векторов : 0.7086834733893557
Метрический алгоритм : 0.6351540616246498
Метод решающего дерева : 0.6919267707082833

In [145]:
precision_logreg, recall_logreg, thresholds_logreg = precision_recall_curve(y_true_score, data_scores['score_logreg'])
# precision_logreg, thresholds_logreg
lst = []
for i in range(len(thresholds_logreg)):
    if recall_logreg[i] > 0.7:
        lst.append(precision_logreg[i])
max(lst)

0.6302521008403361

In [144]:
precision_svm, recall_svm, thresholds_svm = precision_recall_curve(y_true_score, data_scores['score_svm'])
lst = []
for i in range(len(thresholds_svm)):
    if recall_svm[i] > 0.7:
        lst.append(precision_svm[i])
max(lst)

0.6228070175438597

In [143]:
precision_knn, recall_knn, thresholds_knn = precision_recall_curve(y_true_score, data_scores['score_knn'])
lst = []
for i in range(len(thresholds_knn)):
    if recall_knn[i] > 0.7:
        lst.append(precision_knn[i])
max(lst)

0.6065573770491803

In [142]:
precision_tree, recall_tree, thresholds_tree = precision_recall_curve(y_true_score, data_scores['score_tree'])
lst = []
lst_true = []
for i in range(len(thresholds_tree)):
    if recall_tree[i] > 0.7:
        lst.append(precision_tree[i])
        j = i
max(lst)

0.6517857142857143